{% extends 'base.html' %}

{% load static %}

{% block title %}Document{% endblock %}
{% block extra_static %}
  <link rel="stylesheet" href="{% static 'about/css/style.css' %}">
{% endblock %}

{% block content %}

{% include 'header.html' %}

    <div class="about">
        <div class="about__container">
            <div class="about__title">
                <h2>ABOUT</h2>
            </div>
            <div class="about__content">
                <div class="about__image">
                    <img src="{% static 'about/images/about.jpg' %}" alt="Kaizaki Maria">
                </div>
                <div class="about__text">
                    <h1>かいざきまりあ</h1>
                    <h2>写真家</h2>
                    <p>1989年 長野県出身 京都育ち<br>
                        銅駝美術工芸高等学校デザイン科卒<br>
                        ビジュアルアーツ専門学校写真学科卒。<br><br>

                        雑誌、企業サイト、およそ10年スタジオカメラマンとして働いたのち<br>
                        現在、大阪を拠点にフリーランスとして活動<br><br>
                    
                        個展、グループ展多数<br>
                        写真集 "0"
                    </p>

                    <h1>Kaizaki Maria</h1>
                    <h2>Photographer</h2>
                    <p>Born in 1989 in Nagano Prefecture, raised in Kyoto.<br> 
                        Graduated from the Design Department of Doda Art and Craft High School.<br> 
                        Graduated from the Photography Department of Visual Arts College.<br><br>
                        
                        After working as a studio photographer for about 10 years, for magazines and corporate websites,<br> 
                        currently working as a freelance photographer based in Osaka.<br><br>
                        
                        Has held numerous solo and group exhibitions.<br> 
                        Photobook: "0".<br>
                        
                    </p>
                </div>
            </div>
        </div>
    </div>
</body>
{% endblock %}
