{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    {% comment %} スタイル開始 {% endcomment %}
    <link rel="stylesheet" href="{% static 'home/css/css-reset.css' %}">
    <link rel="stylesheet" href="{% static 'home/css/style.css' %}">
    <link rel="stylesheet" href="{% static 'home/css/swiper-bundle.min.css' %}">

    {% comment %} スタイル終了 {% endcomment %}

    {% comment %} フォント開始 {% endcomment %}

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Questrial&display=swap" rel="stylesheet">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Hina+Mincho&display=swap" rel="stylesheet">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Serif+JP:wght@400..700&display=swap" rel="stylesheet">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Zen+Kaku+Gothic+New:wght@300;400;500;700;900&display=swap" rel="stylesheet">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Hanken+Grotesk:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Hanken+Grotesk:ital,wght@0,100..900;1,100..900&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap" rel="stylesheet">

    {% comment %} フォント終了 {% endcomment %}

    <script type="text/javascript" src="https://code.jquery.com/jquery-1.9.1.js"></script>

  </head>

  <body>
    <div id="global-container">
      <div id="container">
        <div class="mobile-menu__cover"></div>

        {% comment %} ヘッダー開始 {% endcomment %}
        <header class="main_h">
          <div class="row">
              <div class="mobile-toggle">
                  <span></span>
                  <span></span>
                  <span></span>
              </div>
              <nav class="header__nav">
                  <ul class="header__ul">
                      <li class="header__li"><a href="#about">About</a></li>
                      <li class="header__li"><a href="#gallery">Gallery</a></li>
                      <li class="header__li"><a href="#plan">Plan</a></li>
                      <li class="header__li"><a href="https://kobayanskilab.stores.jp/">Preset</a></li>
                      <li class="header__li"><a href="#news">News</a></li>
                      <li class="header__li"><a href="#contact">Contact</a></li>
                  </ul>
              </nav>
          </div> 
        </header>
        {% comment %} ヘッダー終了 {% endcomment %}

        
        <main>
          {% comment %} トップ画像開始 {% endcomment %}
          <section class="top">
            <h1 class="top__name">Kaizaki Maria</h1>
            <div class="top__inner">
              <div class="top__left">
                <img src="{% static 'home/images/14.jpg' %}" class="top__image-left">
                <span class="top__vertical-left">与える写真 </span>
              </div>
              <div class="top__right">
                <img src="{% static 'home/images/07-2.jpg' %}" class="top__image-right">
                <span class="top__vertical-right">PHOTOGRAPHER</span>
              </div>
            </div>
          </section>
          {% comment %} トップ画像終了 {% endcomment %}

          {% comment %} 紹介開始 {% endcomment %}
          <section class="introduce">
            <div class="introduce__inner">
              <div class="introduce__image">
                <img src="{% static 'home/images/03.jpg' %}" alt="">
              </div>
              <div class="introduce__sentence">
                <h1 class="title">と る も の で は な く<br>
                  与 え る も の で あ り た い<br><br></h1>
                <span class="introduce__jpn">
                  無限の刻を閉じ込めた一枚<br>
                  未来の君にその瞬間の魂を捧げる<br>
                  ただの記憶ではなく、心を震わせる力<br>
                  それが私の「与える写真」<br><br>
                </span>
                <span class="introduce__eng">
                  A single frame, imprisoning the endless flow og time. <br>
                  To your future self, I offer the soul of that fleeting moment. <br>
                  Not just a mere record, but a force that shakes the very core of your being. <br>
                  This is my "Gifted Photography".
                </span>
              </div>
            </div>
          </section>
          {% comment %} 紹介終了 {% endcomment %}

          {% comment %} ヒーロースライダー開始 {% endcomment %}
          <section class="hero">
            <div class="swiper">
              <!-- スライドのラッパー -->
              <div class="swiper-wrapper">
                <!-- スライド -->
                <div class="swiper-slide">
                  <img src="{% static 'home/images/03.jpg' %}" alt="">
                </div>
                <div class="swiper-slide">
                  <img src="{% static 'home/images/14.jpg' %}" alt="">
                </div>
                <div class="swiper-slide">
                  <img src="{% static 'home/images/14.jpg' %}" alt="">
                </div>
                <div class="swiper-slide">
                  <img src="{% static 'home/images/07-2.jpg' %}" alt="">
                </div>
                <div class="swiper-slide">
                  <img src="{% static 'home/images/03.jpg' %}" alt="">
                </div>
                <div class="swiper-slide">
                  <img src="{% static 'home/images/14.jpg' %}" alt="">
                </div>
                <div class="swiper-slide">
                  <img src="{% static 'home/images/07-2.jpg' %}" alt="">
                </div>
                <div class="swiper-slide">
                  <img src="{% static 'home/images/14.jpg' %}" alt="">
                </div>
              </div>
            </div>
          </section>
          {% comment %} ヒーロースライダー終了 {% endcomment %}

          {% comment %} ギャラリー開始 {% endcomment %}
          <section class="gallery">
            
          </section>
          {% comment %} ギャラリー終了 {% endcomment %}

          {% comment %} ニュース開始 {% endcomment %}
          <section class="news">

          </section>
          {% comment %} ニュース終了 {% endcomment %}
        </main>
        

      </div>
    </div>
    
    {% comment %} js適用開始 {% endcomment %}
    <script src="{% static 'home/js/swiper-bundle.min.js' %}"></script>
    <script src="{% static 'home/js/swiper.js' %}"></script>
    <script src="{% static 'home/js/home.js' %}"></script>
    

    {% comment %} js適用終了 {% endcomment %}
  </body>
</html>