asgiref==3.8.1
bleach==6.1.0
certifi==2024.8.30
charset-normalizer==3.3.2
Django==4.2.14
django-appconf==1.0.6
django-ckeditor==6.7.1
django-compressor==4.5.1
django-js-asset==2.2.0
django-sass==1.1.0
django-sass-processor==1.4.1
django-summernote==0.8.20.0
gunicorn==23.0.0
idna==3.8
libsass==0.23.0
packaging==24.1
pillow==10.4.0
rcssmin==1.1.2
requests==2.32.3
rjsmin==1.2.2
six==1.16.0
sqlparse==0.5.0
typing_extensions==4.12.2
urllib3==2.2.2
webencodings==0.5.1
whitenoise==6.7.0
