{% extends 'base.html' %}

{% load static %}

{% block title %}Document{% endblock %}
{% block extra_static %}
  <link rel="stylesheet" href="{% static 'gallery/css/style.css' %}">
  <link rel="stylesheet" href="{% static 'common.css' %}">
{% endblock %}

{% block content %}

{% include 'header.html' %}

<section class="title">
  <div class="title__overlay">
      <h1 class="title__main">Gallery</h1>
      <p class="title__sub">ギャラリー</p>
  </div>
</section>

<section class="gallery">
    <div class="gallery-gallery">
        {% include 'insta.html' %}
    </div>

    <div class="all-view">
      <a href="{% url 'gallery' %}">ALL VIEW</a>            
    </div>
    
</section>
{% endblock %} 