{% extends 'base.html' %}

{% load static %}

{% block title %}Document{% endblock %}
{% block extra_static %}
  <link rel="stylesheet" href="{% static 'news/css/style.css' %}">
{% endblock %}

{% block content %}

{% include 'header.html' %}

  <section class="hero">
    <div class="hero__image">
        {% comment %} <img src="{% static 'images/hero-image.jpg' %}" alt="Hero Image"> {% endcomment %}
        <div class="hero__overlay">
            <h1>{{ news_item.title }}</h1>
            <p>{{ news_item.content }}</p>
            <p>{{ news_item.published_date }}</p>
        </div>
    </div>
</section>

{% endblock %}