

<header class="main_h">
  <div class="row">
      <div class="mobile-toggle">
          <span></span>
          <span></span>
          <span></span>
      </div>
      <nav class="header__nav">
          <ul class="header__ul">
              <li class="header__li"><a href="{% url 'home' %}">Home</a></li>
              <li class="header__li"><a href="{% url 'about' %}">About</a></li>
              <li class="header__li"><a href="{% url 'gallery' %}">Gallery</a></li>
              <li class="header__li"><a href="{% url 'plan' %}">Plan</a></li>
              <li class="header__li"><a href="https://kobayanskilab.stores.jp/">Preset</a></li>
              <li class="header__li"><a href="{% url 'news' %}">News</a></li>
              <li class="header__li"><a href="{% url 'contact' %}">Contact</a></li>
          </ul>
      </nav>
  </div> 
</header>

