<header class="main_h">
  <div class="row">
      <div class="mobile-toggle">
          <span></span>
          <span></span>
          <span></span>
      </div>
      <nav class="header__nav">
          <ul class="header__ul">
              <li class="header__li"><a href="#about">About</a></li>
              <li class="header__li"><a href="#gallery">Gallery</a></li>
              <li class="header__li"><a href="#plan">Plan</a></li>
              <li class="header__li"><a href="https://kobayanskilab.stores.jp/">Preset</a></li>
              <li class="header__li"><a href="{% url 'news'%}">News</a></li>
              <li class="header__li"><a href="#contact">Contact</a></li>
          </ul>
      </nav>
  </div> 
</header>