{% extends 'base.html' %}

{% load static %}

{% block title %}Document{% endblock %}
{% block extra_static %}
  <link rel="stylesheet" href="{% static 'contact/css/style.css' %}">
{% endblock %}

{% block content %}

{% include 'header.html' %}

    <div class="contact-container">
        <h1>お問い合わせ</h1>
        <p>～コンタクト～</p>

        <div class="contact-form-wrapper">
            <p>撮影のご予約は以下のGoogleフォームよりお問い合わせください。<br>
            <a href="https://docs.google.com/forms/d/e/1FAIpQLSdPAWTGLGWkHL4QBdSx-3jM7ZyJOJsrYQnt2_Tx7EUeKv_EGQ/viewform">Googleフォームはこちら</a></p>

            <p>その他のお問い合わせについては、以下のフォームよりお気軽にご連絡ください。</p>

            <form method="post" action="{% url 'contact' %}">
                {% csrf_token %}

                <!-- フォームフィールドをループで自動的に表示 -->
                {% for field in form %}
                <div class="form-row">
                    <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                    {{ field }}
                    {% if field.errors %}
                        <div class="error">{{ field.errors }}</div>
                    {% endif %}
                </div>
                {% endfor %}

                <button type="submit" class="submit-btn">送信する</button>
            </form>
        </div>
    </div>
{% endblock %}