{% load static %}

<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>お問い合わせ完了</title>
    <link rel="stylesheet" href="{% static 'contact/css/success.css' %}">

    <link rel="stylesheet" href="{% static 'home/css/style.css' %}">
    <script type="text/javascript" src="https://code.jquery.com/jquery-1.9.1.js"></script>
    <script src="{% static 'common/js/common.js' %}"></script>
</head>
<body>
  {% include 'header.html' %}

    <div class="success-container">
        <h1>お問い合わせありがとうございます！</h1>
        <p>ご入力いただいた内容を確認の上、後ほど担当者よりご連絡いたします。</p>
        <a href="{% url 'contact' %}" class="btn">お問い合わせページに戻る</a>
    </div>
</body>
</html>
